{
    "presets" : [
        [ "@babel/preset-env", {
            "modules" : false,
            "targets" : {
                "browsers" : [ "last 3 versions", "chrome > 30", "firefox > 30", "safari >= 10" ]
            },
            "debug" : true
        } ]
    ]
}
